body{
    height: 100%;
    width: 100%;
    font-family: barlow, sans-serif;
  
}
main {
  display: flex;
  margin: 50px 100px;
      background-color: #EFF6FF;
      justify-self: center;
}

.left {
    width: 100%;
    height: auto;
    position: relative;
}

.logotopleft {
    position: absolute;
    top: 0;
    left: 0;
    left: 30px;
    top: 20px;
}

.right {
    width: 100%;
    height: 100vh;
    padding-left:50px;
    padding-right: 50px;
    justify-content: center;
    align-items: center;
}

.title {
    color: #3f4447;
    font-size: 25px;
}

p {
    color: #96A5B1;
}

.buttons {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;

}

.facebook {
    background-color: #255A9B;
    color: white;
    border: none;
    cursor: pointer;
    align-items: center;
    font-size: 12px;
    display: flex;
    gap: 8px;
    padding: 8px 12px;
    width: 50%;

}


.linkedin {
    border: none;
    background-color: #0076B6;
    color: #ffffff;
    cursor: pointer;
    align-items: center;
    font-size: 12px;
    display: flex;
    gap: 10px;
    padding: 8px 12px;
    width: 50%;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    color: #2A4A5C;
    font-size: 10px;
    gap: 15px;
     justify-content: center;
}

.divider::before,
.divider::after {
    content: "";
    width: 150px;
    border-bottom: 1px solid #a7a7a7;
 
}

.inputs {
    display: flex;
    align-items: center;
    gap: 50px;
    color: #AFAFAF;
    justify-content: center;
    margin-top: 30px;
    font-size: 14px;
}

.input-group label {
    display: block;
    width: 100%;
    padding-left: 5px;
    padding-top: 5px;
}

.input-group {
    background-color: #ffffff;
    width: 100%;
    border: 1px solid #CCCCCC;
}

.input-group:has(input:focus) {
    border-left: 3px solid #2db2ffd4;
}

input[type="email"] {
    border: #EEEEEE;
    outline: none;
    width: 100%;
    height: 40px;
    padding: 0%;
    
}

input[type="tel"] {
    border: #EEEEEE;
    outline: none;
    width: 100%;
    height: 40px;
    padding: 0%;
}

.radiobtns {
    display: flex;
    align-items: center;
    gap: 30px;
    color: rgb(81, 81, 81);
    margin-top: 50px;


}

.radiobtns label {
    position: relative;
    cursor: pointer;
}

input[type="radio"] {
    transform: scale(1.3);
    cursor: pointer;
}



.info {
    font-size: 14px;
    color: #AFAFAF;
    cursor: pointer;

}

.tooltip {
    position: absolute;
    top: 25px;
    left: 0;
    width: 240px;
    background: #fff;
    padding: 10px 14px;
    border-radius: 6px;
    font-size: 13px;
    color: #787878;
    line-height: 1.4;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
    opacity: 0;
    transition: 0.2s ease;
}

.info:hover+.tooltip {
    visibility: visible;
    opacity: 1;
}

input[type="checkbox"] {
    margin-top: 110px;
    transform: scale(1.3);
    cursor: pointer;
}

a {
    color: rgb(100, 190, 220);
}

.createacc {
    margin-top: 50px;
    width: 250px;
    height: 40px;
    background-color: #3698FB;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}